<%= render layout: "show" do %>
  <div>
    <p>This director entry does not exist. <%= link_to "Create new director entry", new_artist_path(artist: { name: params[:name] }) %>.</p>
  </div>
<% end %>
