<div class='content'>
  <p>
    There is a discord server called "Furry Diffusion" where you can chat with other e6ai users.
    <br>This server is not owned or operated by e6ai staff. Please keep site discussion to the #e6ai-discussion channel.
  </p>
  <%= form_tag(discord_post_path) do %>
    <%= submit_tag 'Join the server.' %>
  <% end %>
</div>

<% content_for(:page_title) do %>
  Discord Server
<% end %>
